[Desktop Entry]
Type=Application
Name=brainmux
GenericName=Yerel yapay zeka motoru
Comment=Veriniz makinenizde: motor + yapay zeka yerelde çalışır
Exec=brainmux
Icon=brainmux
Categories=Utility;Office;
Terminal=false
StartupNotify=true
